.buttons-edit {
    display: flex;
    gap : 40%;
    align-items: center;
    width: 100%;
}

.button-edit {
    width: 30%;
    --ion-color-success: #2eb82e;
}




.feedback-list {
    gap: 10px;
    background-color: transparent;
    border-left: 5px;
    border-right: 5px;
    display: flex;
    flex-direction: column;
}
    .feedback-item {
        margin-bottom: 8px;
        border-radius: 8px;
        padding: 8px;
        background-color: #ffffff;
        display: flex;
        flex-direction: column;
        border: 3px black solid;
    }


.container-input {
    display: flex;
    flex-direction: row;
    justify-content: center;
}
     .input-edit {
        --ion-item-background: orange;
         width: 60%;
         margin-bottom: 10px;
         border-radius: 20px;
    }


.container-feedback-input {
    display: flex;
    flex-direction: row;
    justify-content: center;
}
    .input-feedback1 {
        --ion-item-background: orange;
        width: 50%;
        margin-bottom: 10px;
        border-radius: 15px;
    }
    .input-feedback2 {
        --ion-item-background: orange;
        width: 90%;
        margin-bottom: 8px;
        border-radius: 25px;
    }


.feedback-container {
    padding: 20px 10px;
    background-color: transparent;
}

.add-feedback-button-container {
    --ion-color-success : #2eb82e;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.edit-input {
    background-color: transparent;
}
.edit-visit-container{
    display: flex;
    justify-content: center;
}

    .edit-visit-button {
         min-width: 75%;
         --ion-border-radius: 50px;
    }


    .input-font-size-attribute-place {
        font-size: 18px;
    }

