.ion-page2 {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

/* Style the input fields */
.ion-item2 {
    margin-bottom: 20px;
}
.ion-label2 {
    font-weight: bold;
}

/* Style the buttons */
.ion-button2 {
    display: block;
    width: 100%;
    color: white;
    border-radius: 5px;
    padding: 10px;
    font-size: 10px;
    text-align: center;
    text-transform: uppercase;
    cursor: pointer;
    transition: all 0.3s ease-in-out;
}


/* Style the error message */
/*p {*/
/*    font-weight: bold;*/
/*    color: red;*/
/*    margin-bottom: 10px;*/
/*}*/

.forgot-background {
    background: linear-gradient(30deg, #ffffaa, #ddaabb ,#cc00ff);
}

.forgot-password-container {
    align-items: center;
    --background: transparent;
}

.forgot-password-form {
    height: 58%;
    gap: 10px;
    padding: 250px 30px 0 30px;
}

.reset-password-form {
    height: 55%;
    gap: 10px;
    padding: 250px 30px 0 30px;
}

.send-mail-button {
    height: 40px;
}

.forgot-password-link {
    color: #000088;
    text-decoration: none;
    font-size: 16px;
}

.forgot-password-input {
    color: black;
    padding: 0.5rem;
    border: 1px solid #000000;
    border-radius: 10px;
    font-size: 1rem;
    height: 15px;
}
