.ion-page2 {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

/* Style the input fields */
.ion-item2 {
    margin-bottom: 20px;
}
.ion-label2 {
    font-weight: bold;
}

/* Style the buttons */
.ion-button2 {
    display: block;
    width: 100%;
    color: white;
    border-radius: 5px;
    padding: 10px;
    font-size: 10px;
    text-align: center;
    text-transform: uppercase;
    cursor: pointer;
    transition: all 0.3s ease-in-out;
}


/* Style the error message */
/*p {*/
/*    font-weight: bold;*/
/*    color: red;*/
/*    margin-bottom: 10px;*/
/*}*/