form {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100%;
}

.username-input1,
.password-input1{
    color: black;
    padding: 0.5rem;
    border: 1px solid #000000;
    border-radius: 10px;
    font-size: 1rem;
    width: 100%;
}

.ion-toolbar1 {
    /*--background: rgba(0,0,0,0.5);*/
    --color: white;
    text-align: center;
    margin-top: 20px;
}

.ion-content1 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 75%;
    --background: transparent;
}

.ion-page1{
    height: 100%;
    display: flex;
    flex-direction: column;
}

.background-image1 {
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    /*background: linear-gradient(-75deg, #fd1d1d,#f0fc45, #136aa4);*/
    background: linear-gradient(30deg, #3388cc, #66bbaa, #aaff00);
}

.register-button1{
    /*background-color: #2dd36f;*/
    color: #ffffff;
    /*padding: 0.5rem 1rem;*/
    border: none;
    border-radius: 4px;
    font-size: 1rem;
    cursor: pointer;
    height: 40px;
}

.login-button{
    /*background-color: #2dd36f;*/
    color: #ffffff;
    /*padding: 0.5rem 1rem;*/
    border: none;
    border-radius: 4px;
    font-size: 1rem;
    cursor: pointer;
    height: 40px;
}

.label1{
    font-size: 15px;
}

.div-error{
    color: red;
}

.forgot-password-link {
    color: #000088;
    text-decoration: none;
    font-size: 16px;
}

.login-form {
    gap: 5px;
}
