.background-menu {
    background-color: #3399ff;
}

.toolbar-menu {
    --ion-color-primary: purple;
}

.menu-font-size {
    font-size: 30px;
}

.ion-item11{
    padding: 20px;
    border-radius: 5px;
    transition:  0.5s ease;
}

.ion-item11:hover{
    background-color: red;
}

.ion-item11:hover .icon-style{
    background-color: red;
}
.ion-item11:hover .text-style{
    background-color: red;
}
.list-element-div{
    padding: 20px;
    border-radius: 5px;
    transition:  0.5s ease;

}

.list-element-div:hover{
    background-color: #c2c2c2;
}

.icon-style{
    height:30px;
    width:30px;
    color: white;
}

.icon-style-help {
    height: 30px;
    width: 30px;
    color: white;
    font-weight: bold;
}

.list-element-div .icon-style-help {
    margin-left: 8%;
    height:35px;
}

.list-element-div .icon-style{
    margin-left: 8%;
    height:35px;
}

.text-style{
    color: white;
    font-size: 24px;
}

.list-element-div .text-style {
    margin-left: 12%;
    margin-top:15px;
    position: relative;
    top: -10px;
}

.list {
    position: relative;
    display: flex;
    flex-direction: column;
    height: 100%;

}

.help-last-element {
    margin-top: auto;
}

.help-div {
    padding: 20px;
    border-radius: 5px;
    transition: 0.5s ease;
    position: absolute;
    top:90%;
}

.help-div:hover{
    background-color: #c2c2c2;
}

.help-div .icon-style {
    margin-left: 8%;
    height:35px;
}

.help-div .text-style {
    margin-left: 12%;
    margin-top:15px;
    position: relative;
    top: -10px;
}

